{% extends "partners/master.html" %}

{% block title %}
    Aliados
{% endblock  %}

{% block content %}
    <h1>ALIADOS{% if group %} {{ group }} {% endif %}</h1>
    {% if group_id %}
        <div style="margin-bottom: 1em;"><a href="{% url 'partners:create_for_group' group_id=group_id %}">Agregar Aliado</a></div>
    {% else %}
        <div style="margin-bottom: 1em;"><a href="{% url 'partners:create' %}">Agregar Aliado</a></div>
    {% endif %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Email</th>
            <th>Celular</th>
            {% if not group %}
            <th>Grupo Aliado</th>
            {% endif %}
            <th colspan="2">Acciones</th>
        </tr>
        {% for partner in partners  %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.full_name }}</td>
                <td>{{ partner.email }}</td>
                <td>{{ partner.cellphone }}</td>
                {% if not group %}
                <td>{{ partner.partner_group.name }}</td>
                {% endif %}
                {% if group_id %}
                    <td><a href="{% url 'partners:edit_for_group' id=partner.id group_id=group_id%}">Editar</a></td>
                    <td><a href="{% url 'partners:delete_for_group' id=partner.id group_id=group_id %}">Eliminar</a></td>
                {% else %}
                    <td><a href="{% url 'partners:edit' id=partner.id %}">Editar</a></td>
                    <td><a href="{% url 'partners:delete' id=partner.id %}">Eliminar</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock  %}