{% extends "statuses/master.html" %}

{% block title %} Editar {{ form.status.value }}{% endblock  %}

{% block content %}
    <h1>Editar {{ form.status.value }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; margin-bottom: 12px;">
             {{ form.status.label_tag }}
             {{ form.status }}
        </div>
        <div style="display: flex; flex-direction: column; margin-bottom: 12px;">
             {{ form.head.label_tag }}
             {{ form.head }}
        </div>
        <div style="display: flex; flex-direction: column; margin-bottom: 12px;">
             {{ form.body.label_tag }}
             {{ form.body }}
        </div>
        <input type="submit" value="Actualizar">
    </form>
{% endblock %}