{% extends "statuses/master.html" %}

{% block title %}Estados{% endblock  %}

{% block content %}
    <h1>Estados</h1>
    <div style="margin-bottom: 1em;"><a href="{% url 'statuses:create' %}">Crear Estado</a></div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Estado</th>
            <th colspan="2">Acciones</th>
        </tr>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.status }}</td>
            <td><a href="edit/{{ status.id }}">Editar</a></td>
            <td><a href="delete/{{ status.id }}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock  %}